<div class="jumbotron">
  <h1>Diageo & TCS Relationship</h1>
  <p class="lead">
    <img src="images/diageo-home-logo.png" alt="Logo"><br>
    Are you ready to start taking calls?
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/question">Start the quiz! <span class="glyphicon glyphicon-ok"></span></a></p>
</div>
