<h3>{{ counter | readableTime }}</h3>

<div class="progress clear">
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{currentPage}}" aria-valuemin="0" aria-valuemax="{{questions.length/pageSize - 1}}" style="width: {{((currentPage + 1)*pageSize / questions.length) * 100}}%">
    <span class="sr-only">{{((currentPage + 1)*pageSize / questions.length) * 100}} Complete</span>
  </div>
</div>

<form role="form" id="questions">
  <div class="panel panel-default" ng-repeat="question in questions | startFrom:currentPage*pageSize | limitTo:pageSize">
    <div class="panel-body">
      <p>{{$index + 1}}. {{question.question}}</p>
      <ol class="list-group">
        <li class="list-group-item" ng-repeat="option in question.options"><input type="radio" name="{{question.no}}" value="{{option}}" ng-model="question.answer" required/>{{option}}</li>
      </ol>
    </div>
  </div>

  <nav ng-hide="pageSize > questions.length">
    <ul class="pager">
      <li><button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" class="btn btn-info">
        Previous
      </button></li>
      <li>{{currentPage+1}}/{{numberOfPages()}}</li>
      <li><button ng-disabled="currentPage >= questions.length/pageSize - 1" ng-click="currentPage=currentPage+1" class="btn btn-info">
        Next
      </button></li>
    </ul>
  </nav>

  <div class="pager">
    <button type="button" class="btn btn-success btn-lg centred" ng-click="checkAnswers(questions);" data-toggle="modal" data-target=".bs-example-modal-lg" ng-show="(currentPage >= questions.length/pageSize - 1)">
      Check your answers!
    </button>
  </div>
</form>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="resultsModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Results</h2>
      </div>
      <div class="modal-body">
        <p ng-show="score" class="score centred">You scored <span class="score-number">{{score| number : 0}}%</span></p>
        <div class="answers" ng-repeat="question in questions" ng-class="{'panel-success': question.yes, 'panel-warning': !question.yes}">
          <p>{{$index + 1}}. {{question.question}}</p>
          <p ng-show="question.yes" class="alert alert-success"><strong>Well done!</strong> You said <strong>{{question.answer}}</strong>, which was the right answer.</p>
          <p ng-hide="question.yes" class="alert alert-danger"><strong>Oops!</strong> You said {{question.answer}}, but the right answer was <strong>{{question.correct}}</strong>.</p>
        </div>
      </div>
      <div class="modal-footer">
        <p>Take a screenshot of your score at the top of the page, and send it to {{auditor.fullname}}</p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" href="mailto:{{auditor.email}}?subject=You%20got%20{{score| number : 0}}%25on my test&body=Hi there!%0A%0AI%20got%20a%20score%20of%20on%20the%20SD%20test.%0A%0ABest%20regards">Send results</button>
      </div>
    </div>
  </div>
</div>
